<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Force HTTPS and remove www
    RewriteCond %{HTTPS} !=on [OR]
    RewriteCond %{HTTP_HOST} ^www\. [NC]
    RewriteRule ^ https://gajananmaharajsansthanbhaktnivas.com%{REQUEST_URI} [L,R=301]

    # Redirect requests to /public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,NC]
</IfModule>
